
.form-sec{
    
    background-color: #f8f8f8;
    height: 60vh;
   
}
.form-sec2{
    border-top: 1px solid rgb(194, 188, 188);
}
.form-input{

    background-color: white;
    margin-top: 40px;
    height: 50vh;
    h5{
        color: #3e3e3e !important;
        text-transform: capitalize;
        text-align: center;
        font-size: 21px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 600;
    }
    .fl-1, .fl-2, .fl-3, .fl-4, .fl-5{
        padding: 8px;
    border: solid 1px #ebebeb;
    
    background-color: #f8f8f8;
    color: rgba(138, 139, 143, .8);
    font-family: Arial , "Helvetica Neue", Helvetica, Gotham, sans-serif !important;
    font-size: 13px;
    font-weight: 300;
    }
}
.fl-6{
    width: 100%;
    margin-left: -3px;
}

.form-info{

    color: #022752 !important;
    font-family: Arial , "Helvetica Neue", Helvetica, Gotham, sans-serif !important;
    font-weight: 600;
   
    margin-top: 100px;
    margin-left: 50px;
    a{
        color: #3f3f3f;
        font-weight: 600;
        text-decoration: none;
        outline: none !important;
    }
}