.to-side{
    margin-left: 200px;
}
.list{
  
    
       
    
    li{
        list-style: none;
        padding: 20px;
        margin-top:20px;
        margin-left: -20px;
        font-size: 15px;
        float:left;
        color:black;
    }
}
.alert-box{
    margin-left: -20px;
    padding-top: 40px;
   .box-1{
    width: 170px;
    background-color: darkcyan;
   }
}